* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;

}

body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::selection {
  background-color: #ef426f;
  color: #ffffff;

}

/*Navigation*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
  z-index: 2;
}

.menu {
  display: flex;
}

.menu li a{
  padding: 12px 20px;
  color: #000000;
  font-size: 0.9rem;
  margin: 4px 10px;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
}

.menu li a:hover{
  opacity: 0.8;
  transition: all ease 0.3s;
}

.nav-contact {
  color: #ef426f !important;
  font-size: 0.9rem;
  font-weight: 500;
}

.logo {
  background-color: #161616
  min-width: 50px;
  height: 50px;
  padding: 0px 10px;
  border: 1px solid rgba(255,255,255,0.137);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

/*PageContainer*/

.page-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #9f9f9f48;
  padding: 30px 0px;
  margin: 5px auto 0px auto;
}

.top-bar span,
.article-number{
  color: #9f9f9f;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*blog*/

#blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
}

.blog-heading {
  margin: 20px 0px;
}

.blog-heading h1 {
  font-size: 5.2 rem;
  color: #000000;
  line-height: 94px;

}


.blog-filter {
  display: flex;
  align-items: center;
  margin: 40px 0px 20px 0px;
  color: #000000;
}

.blog-filter li{
  color: #000000;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin: 0px 5px;
  cursor: pointer;
  user-select: none;

}

.blog-filter li:hover {
  opacity: 0.7;
  transform: all ease 0.3s;
}

.blog-filter-active {
    border-bottom: 1px solid #e2d40c;

}

.blog-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 10px 0px 30px 0px;
}

.blog-box{
  transition: all ease 0.3s;
}

.blog-box:hover{
  opacity: 0.8;
  transition: all ease 0.3s;
}

.blog-img {
  width:100%;
  max-height: 220px;
  overflow: hidden;
}

.blog-img img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  display: flex;
  flex-direction: column;
  padding: 10px 3px;
}

.blog-text .category{
  color: #000000;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.blog-text strong{
  font-size: 1.3rem;
  color: #000000;
  font-weight: 500;
  margin: 5px 0px;
  letter-spacing: 0.7px;

}

.blog-text .blog-post-time {
  color: #9f9f9f;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/*making-blog-page-responsive*/

.menu-icon,
.menu-btn{
  display: none;
}

@media(max-width:1250px){
  .blog-heading h1 {
  font-size: 2rem;
  line-height: 40px;

  }
  .page-container{
    max-width: 100%;
    width: 90%;
  }
}
@media(max-width:1060px){
  .footer-container{
    max-width: 800px;

  }
}
@media(max-width:850px){
  .blog-container{
    grid-template-columns: 2fr 1fr;
  }
  .blog-text strong{
    font-size:  0.8 rem;
    color: #000000;
    font-weight: 300;
    margin: 3px 0px;
    letter-spacing: 0.5px;


  }
  .footer-container{
    width:90%;
  }
  .footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .footer-box{
    margin: 0px auto;
  }
  .footer-heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width:750px){
  .navigation{
    justify-content: space-space-between;
    height:65px;
    padding: 35px 25px
  }
  .logo{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .qleap-logo{
    max-width: 180px;
    max-height: 180px;
  }

  .cta-heading{
    margin-top: 160px; 
    font-size: 28px; 
    letter-spacing: 0.5px; 
    line-height: 150%;
    text-align: center;
    
  }
  .cta-description p{
    margin-top: 40px; 
    font-size: 16px; 
    text-align: center;
    
  }

  .email-form{
    text-align:center ;
  }
  .email-form h2{
    margin-top: 30px; 
    font-size: 20px; 
    color: #ef426f;    
    text-align: center;
  }


  input[type="email"] {
    margin-top: 10px;
    border:none; 
    border-bottom: 2px solid #ef426f;
    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    
  }
}
