@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

body {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}


p {
  margin: 0px;
  font-size: 16px;
}

a {
  color: rgb(162, 0, 255);
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
}



header {
  display: flex;
  justify-content: flex-end;
}



.header {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.sobre {
  color: rgb(71, 71, 71);
  position: absolute;
  left: 32%;
}

.projetos {
  color: rgb(71, 71, 71);
  position: absolute;
  left: 38%;
}

.clientes {
  color: rgb(71, 71, 71);
  position: absolute;
  left: 46%;
}

.aprenda {
  color: rgb(71, 71, 71);
  position: absolute;
  left: 53%;
}

.contato {
  color: rgb(255, 0, 102);
  position: absolute;
  font-weight: 300;
  left: 60%;
}

.portuguese {
  color: rgb(71, 71, 71);
  position: absolute;
  left: 92%;
}

.english {
  color: rgb(71 71 71 / 30%);
  position: absolute;
  left: 95%;
}


.dark {
  background-color: rgb(57, 57, 57);
}

.dark .portuguese {
  color: rgb(255, 255, 255);
}

.dark .english {
  color: rgb(49, 239, 125);
}

.dark > * {
  color: rgb(255, 255, 255);
}

.main {
  height: 80vh;
}

.main-text {
  width: 50%;
  justify-content: center;
  text-align: center;
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;

}

.dark .square {
  background-color: rgb(71, 71, 71);
}


.sub-section {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color: rgb(255, 255, 255); 
}


@media only screen and (min-width: 970px) {
  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}
