body {
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: flex-end;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  color: rgb(49, 239, 125);
  position: absolute;
  left: 10px;
}

.language {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 45px;
}

.dark {
  background-color: rgb(57, 57, 57);
}

.dark .flicker {
  color: rgb(255, 255, 255);
}

.dark .language {
  color: rgb(49, 239, 125); 
}

.dark > * {
  color: rgb(255, 255, 255);
}

.main {
  height: 80vh;
}

.main-text {
  width: 50%;
}
